
body{
    margin: 0;
    min-height: 100vh;
    max-height: 100vh;
}
.main-header{
    width: 100%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    text-align: center;
}


.header-banner img{
    border-radius: 4%;
    transform: rotate(10deg);
    filter: drop-shadow(5px 5px 2px #111);
}

.content-body{
    display: inline-flex;
}


.page-content{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    margin: 1em;
    line-height: 1.4;
}
